[user]
    name = Anton Rudeshko
    email = rudeshko@yandex-team.ru
[core]
    mergeoptions = --no-ff
    pager = less -r
[alias]
    vlog = log --pretty='%h (%an) %s' --graph
    st = status
    co = checkout
    cp = cherry-pick
    ci = commit
    up = pull
    di = diff
    br = branch
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    hist = log --pretty=format:'%C(yellow)%h%C(reset) %ad | %C(75)%s%C(reset) %C(yellow)%d%C(reset) [%an]' --graph --date=short --branches --all
    hash = show -s --format=%H
[color]
    ui = true
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[push]
    default = simple
[rebase]
	autosquash = true
[hub]
	host = github.yandex-team.ru
